streamlit
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
plotly
missingno
ydata-profiling
sweetviz
pyjanitor
category_encoders
statsmodels
openpyxl
xlsxwriter
pyarrow
joblib
streamlit-option-menu
streamlit-aggrid
Pillow
